<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat privado</title>
</head>
<body>
    <h1>Chat con {{ amigo.username }}</h1>

    <!-- Mostrar la conversación entre el usuario actual y el amigo -->
    <!-- Puedes utilizar el modelo Mensaje y filtrar por remitente y destinatario -->

    {% for mensaje in mensajes %}
        {% if mensaje.contenido == None %}
        {% else %}
            <p>{{ mensaje.remitente.username }}: {{ mensaje.contenido }}</p>
        {% endif %}
    {% endfor %}

    <!-- Aquí puedes agregar el formulario para enviar nuevos mensajes -->
    <form method="post" action="{% url 'enviarMensaje' amigo_id=amigo.id %}">
        {% csrf_token %}
        <input type="text" name="mensaje" placeholder="Escribe tu mensaje..." required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
