<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for chat in chat %}
        <p>{{ chat.contenido }}</p>
    {% endfor %}

    <!-- Aquí puedes agregar el formulario para enviar nuevos mensajes -->
    <form method="post" action="{% url 'enviarMensajeGrupo' sala_id=sala.id_sala %}">
        {% csrf_token %}
        <input type="text" name="mensaje" placeholder="Escribe tu mensaje..." required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>