/* Estilos adicionales */
body {
  padding-top: 50px;
  background-image: url(../img/chat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message-content {
  flex: 1;
  max-width: 80%;
  word-wrap: break-word; /* Agrega esta propiedad para permitir el ajuste de palabras largas */
}

.message .sender {
  font-weight: bold;
}

.chat {
  background-color: rgb(24 30 35 / 69%);
  border-radius: 10px;
  padding: 10px;
  max-height: 650px; /* Tamaño máximo deseado */
  overflow-y: auto; /* Aparecerá el scroll vertical si se excede la altura */
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

/* Estilos del scrollbar para navegadores basados en WebKit, como Chrome y Safari */
.chat::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.chat::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del track */
}

.chat::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 4px; /* Borde del thumb */
}

.chat::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb en estado hover */
}

.chat::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Color del thumb en estado activo (click) */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header .avatar-container {
  margin-right: 10px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.fuente {
  font-family: "Press Start 2P";
  color: aliceblue;
}

.message-sent {
  align-self: flex-end;
  background-color: #dcf8c6;
  margin-left: auto;
  border-radius: 10px;
  padding: 10px;
}

.message-received {
  align-self: flex-start;
  background-color: #f5f5f5;
  margin-right: auto;
  border-radius: 10px;
  padding: 10px;
}

.chat-messages {
  flex: 1;
  background-color: rgb(24 30 35 / 69%);
  border-radius: 10px;
  padding: 10px;
  max-height: calc(
    100% - 150px
  ); /* Resta la altura de la cabecera y el formulario de enviar mensaje */
  overflow-y: auto; /* Aparecerá el scroll vertical si se excede la altura */
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

/* Estilos del scrollbar para navegadores basados en WebKit, como Chrome y Safari */
.chat-messages::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del track */
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb */
  border-radius: 4px; /* Borde del thumb */
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb en estado hover */
}

.chat-messages::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Color del thumb en estado activo (click) */
}

.form-group {
  margin-bottom: 0; /* Evita el espacio adicional en el formulario */
}

.input-group {
  position: sticky;
  bottom: 0;
  padding-top: 10px;
}
