.grupo-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.grupo-title {
    font-size: 24px;
    font-weight: bold;
}

.grupo-description {
    margin-bottom: 10px;
}

.grupo-creator {
    font-style: italic;
}

.grupo-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.miembros-title {
    font-size: 20px;
    margin-bottom: 10px;
}

body{
    background-image: url(../img/fondo01.gif);
}